{# src/AppBundle/Resources/views/Search/search.html.twig #}
<div id="search_bar" class="navbar-form navbar-right">
{{ form_start(form) }}	
	{{ form_row(form.name) }}
	{{ form_row(form.type) }}
{{ form_end(form) }}</div>