{% extends 'AppBundle::base.html.twig' %}

{% block title %}Smite.link : Reset Already Requested {% endblock %}

{% trans_default_domain 'UserBundle' %}

{% block sidebar %}
	{% include "UserBundle:Layout:sidebar.html.twig" %}
	<script>domReady($('#sidebar-account-login').addClass('active'))</script>
{% endblock %}


{% block body %}
<h1 class="page-header">Reset already requested</h1>
<p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock %}
