<ul class="nav nav-sidebar" id="sidebar-tab-nav">
	<li>Gods</li>
	<li id='sidebar-tab-nav-0'><a id="sidebar-god-overview" href="#">Overview</a></li>
	<!--<li id='sidebar-tab-nav-1'><a id="sidebar-god-popular" href="#">Most Popular</a></li>-->
	<!--<li id='sidebar-tab-nav-2'><a id="sidebar-god-winrates" href="#">Top Win Rates</a></li>-->
</ul>