<ul class="nav nav-sidebar" id="sidebar-tab-nav">
	<li id="sidebar-tab-nav-0" ><a id="sidebar-god-overview" href="#">Overview</a></li>
	<li id="sidebar-tab-nav-1" ><a id="sidebar-god-builds" href="#">Builds</a></li>
</ul>	