<ul class="nav nav-sidebar">
	<li><a id="sidebar-tierlist-overview" href="/t">Aggregate</a></li>
</ul>
<ul class="nav nav-sidebar">
	<li><a id="sidebar-tierlist-own-new" href="/t/new">Create New</a></li>
</ul>	