{# ItemBundle/Resources/views/item.html.twig #}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}Smite.link : {{ item.name }}{% endblock %}


{% block body %}
	<h1 class="page-header">Item: {{ item.name }}</h1>
	<div class="page_header">
		<h3 id="page_title">Item: {{ item.name }}</h3>
	</div>
	<div id="tab_nav_main" class="item">
		<div class="t1_container">
		{% include "ItemBundle:item:tier_item.html.twig" %}	
		{% set rootItem = item %}
			<div class="tierSet">
			{% for parentItem in rootItem.parentItem %}
				{% if parentItem.tier == 2 %}
					{% set item = parentItem %}
					<div class="t2_container">
						{% include "ItemBundle:item:tier_item.html.twig" %}
						<div class="t3_container">
							{% for item in parentItem.parentItem %}
								{% include "ItemBundle:item:tier_item.html.twig" %}
							{% endfor %}
						</div>
					</div>
				{% endif %}
			{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}