$text-green: #2bb;
$text-green-highlight: #22bbff;

$button-standard-background: #8b7695;
$button-standard-hover-background: #7a5e75;
$button-submit-background: #5e7a71;
$button-submit-hover-background: #4b615a;

/* FONT */
$font-root-size: 1.4vw;
$font-root: Fira Sans, sans-serif;
$font-color-light: #efefef;
$font-color-dark: #111317;

$text-green: #2bb;
$text-green-highlight: #22bbff;

/* BUTTONS */
$button-standard-background: #8b7695;
$button-standard-hover-background: #7a5e75;
$button-submit-background: #5e7a71;
$button-submit-hover-background: #4b615a;

/* SIZES */
$page-max-width: 960px;
$page-min-width: 720px;


/*MISC COLORS*/
$color-blue-offbackground: #2b303a;



/* segment data */
$segment-background-color: #f0f1f5;
$segment-large-width: 100%;
$segment-large-max-width: 960px;
$segment-small-width: calc(50% - 16px);
$segment-small-max-width: 462px;
$segment-padding-size: 16px;
$segment-margin-size: 32px;