{% extends 'AppBundle::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}


{% block sidebar %}
	{% include "UserBundle:Layout:sidebar.html.twig" %}
{% endblock %}

{% block body %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock %}
