{% extends 'AppBundle::base.html.twig' %}

{% block title %}Smite.link : Registration {% endblock %}


{% block sidebar %}
	{% include "UserBundle:Layout:sidebar.html.twig" %}
	<script>domReady($('#sidebar-account-register').addClass('active'))</script>
{% endblock %}

{% block body %}
<h1 class="page-header">Register for a Smite.LINK account</h1>

<div class="col-sm-9">
	<p>Why Register?</p>
	<p>SmiteLINK is a free unofficial service for Smite, by Hi-Rez Studios. By signing up, you can better contribute to our statistics amalgamation.</p>
	<p>A free account will allow you to amongst other things:</p>
	<ul>
		<li>Create and save your own tier list</li>
		<li>Mark a Smite account for quick viewing</li>
	</ul>
</div>
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock %}
