{# AppBundle/Resources/views/Exception/error404.html.twig #}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}Smite.link : 404 Page not found{% endblock %}

{% block body %}
	
	<div class="segment">
		<h2 class="segment-title">Error 404</h2>
		<p class="segment-overview">The page you are looking for doesn't exist. Check your url for misspellings.</p>
	</div>
{% endblock %}