<div class="row segment" id="gods_new_tier_list">
	<div class="row col-sm-12">
		<div class="col-sm-1 tier"><p>SS</p></div>
		<div class="row col-sm-11 droppable"></div>
	</div>
	
	<div class="row col-sm-6">
		<div class="col-sm-1 tier"><p>S+</p></div>
		<div class="row col-sm-11 droppable"></div>
	</div>
	
	<div class="row col-sm-12">
		<div class="col-sm-1 tier"><p>S</p></div>
		<div class="row col-sm-11 droppable"></div>
	</div>
	
	<div class="row col-sm-6">
		<div class="col-sm-1 tier"><p>S-</p></div>
		<div class="row col-sm-11 droppable"></div>
	</div>
	<div class="row col-sm-6">
		<div class="col-sm-1 tier"><p>A+</p></div>
		<div class="row col-sm-11 droppable"></div>
	</div>
	
	<div class="row col-sm-12">
		<div class="col-sm-1 tier"><p>A</p></div>
		<div class="row col-sm-11 droppable"></div>
	</div>
	
	<div class="row col-sm-6">
		<div class="col-sm-1 tier"><p>A-</p></div>
		<div class="row col-sm-11 droppable"></div>
	</div>
	<div class="row col-sm-6">
		<div class="col-sm-1 tier"><p>B+</p></div>
		<div class="row col-sm-11 droppable"></div>
	</div>
	
	<div class="row col-sm-12">
		<div class="col-sm-1 tier"><p>B</p></div>
		<div class="row col-sm-11 droppable"></div>
	</div>
	
	<div class="row col-sm-6">
		<div class="col-sm-1 tier"><p>B-</p></div>
		<div class="row col-sm-11 droppable"></div>
	</div>
	<div class="row col-sm-6">
		<div class="col-sm-1 tier"><p>C+</p></div>
		<div class="row col-sm-11 droppable"></div>
	</div>
	
	<div class="row col-sm-12">
		<div class="col-sm-1 tier"><p>C</p></div>
		<div class="row col-sm-11 droppable"></div>
	</div>
	
	<div class="row col-sm-6">
		<div class="col-sm-1 tier"><p>C-</p></div>
		<div class="row col-sm-11 droppable"></div>
	</div>
	
	<div class="row col-sm-12">
		<div class="col-sm-1 tier"><p>D</p></div>
		<div class="row col-sm-11 droppable"></div>
	</div>
	<div class="row col-sm-12" id="god_tierlist_pool"></div>
	
	{% include "GodBundle:TierlistForm:form.html.twig" with { form: tierlistForm } %}
</div>