<div id="gods_saved_tier_list" class="row segment">
	<div class="row col-sm-12">
		<div class="col-sm-1 tier"><p>SS</p></div>
		<div class="row col-sm-11 gods"></div>
	</div>
	
	<div class="row col-sm-6">
		<div class="col-sm-1 tier"><p>S+</p></div>
		<div class="row col-sm-11 gods"></div>
	</div>
	
	<div class="row col-sm-12">
		<div class="col-sm-1 tier"><p>S</p></div>
		<div class="row col-sm-11 gods"></div>
	</div>
	
	<div class="row col-sm-6">
		<div class="col-sm-1 tier"><p>S-</p></div>
		<div class="row col-sm-11 gods"></div>
	</div>
	<div class="row col-sm-6">
		<div class="col-sm-1 tier"><p>A+</p></div>
		<div class="row col-sm-11 gods"></div>
	</div>
	
	<div class="row col-sm-12">
		<div class="col-sm-1 tier"><p>A</p></div>
		<div class="row col-sm-11 gods"></div>
	</div>
	
	<div class="row col-sm-6">
		<div class="col-sm-1 tier"><p>A-</p></div>
		<div class="row col-sm-11 gods"></div>
	</div>
	<div class="row col-sm-6">
		<div class="col-sm-1 tier"><p>B+</p></div>
		<div class="row col-sm-11 gods"></div>
	</div>
	
	<div class="row col-sm-12">
		<div class="col-sm-1 tier"><p>B</p></div>
		<div class="row col-sm-11 gods"></div>
	</div>
	
	<div class="row col-sm-6">
		<div class="col-sm-1 tier"><p>B-</p></div>
		<div class="row col-sm-11 gods"></div>
	</div>
	<div class="row col-sm-6">
		<div class="col-sm-1 tier"><p>C+</p></div>
		<div class="row col-sm-11 gods"></div>
	</div>
	
	<div class="row col-sm-12">
		<div class="col-sm-1 tier"><p>C</p></div>
		<div class="row col-sm-11 gods"></div>
	</div>
	
	<div class="row col-sm-6">
		<div class="col-sm-1 tier"><p>C-</p></div>
		<div class="row col-sm-11 gods"></div>
	</div>
	
	<div class="row col-sm-12">
		<div class="col-sm-1 tier"><p>D</p></div>
		<div class="row col-sm-11 gods"></div>
	</div>
	<div class="row col-sm-12">
		<div class="row col-sm-12 gods"></div>
	</div>
</div>