{# GodBundle/Resources/views/tierlist.html.twig #}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}Smite.link : Most Popular Tier List{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts '@GodBundle/Resources/public/js/tierlist.js*' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %} 
{% endblock %}

{% block sidebar %}
	{% include "GodBundle:Layout:sidebar.html.twig" %}
	<script>domReady($('#sidebar-gods-tierlist-top').addClass('active'))</script>
{% endblock %}


{% block body %}
	<h1 class="page-header">Most Popular Tier List</h1>
{% endblock %}
