<h1 class="page-header">Top Win Rates</h1>
<div class="segment gods_top_picks row">
	<div class="row col-sm-12">
	{% for god in topPicks %}
		<a href="/g/{{ god.id }}" class="col-sm-1 god">
			<p class="role">{{ god.role }}</p>
			<span class="image"><img src="{{ god.god_icon_url }}"/></span>
			<p class="title">{{ god.name }}</p>
		</a>
	{% endfor %}
	</div>
</div>